.form-heading.row
  %h2
    .span4
      Trainings at Josh
    .offset8{style: "float: right;"}
      = link_to '', new_training_path, data: {'no-turbolink' =>  true}, "data-toggle" => "tooltip", title: "Add Training Record",
                   class: "icon-plus"
.form-horizontal#training_list
  = render 'list'
