%span
  Hello #{@user.name},
  %br
  %br
  %span It looks like Blog URL set under your profile is not correct, causing issue while fetching its RSS feed. Please check it & get in touch with HR if needed.
  %br
  %br
  Thanks