%span Hello Admins,
%br
%br
%span Please find attached timesheet report of the employees who worked over the last 2 weekends and public holidays (if any) from #{@start_date} till today.
%br
%br
%span Thanks