.form-heading
  %h2 Revoke VPN
  = simple_form_for(:user, url: revoke_vpn_user_path) do |f|
    = f.input :email, as: :string, input_html: {value: "#{email}"}
    = f.submit 'Revoke VPN', class: 'btn'