.form-heading
  %h2 Employees
  - if can? :edit, User
    .align.align-right
      %button{ type: 'button', id: 'show', role: 'button', 'arial-label': 'click here to show all users'} Show All
      %button{ type: 'button', id:'download_btn', role: 'button', 'aria-label': 'Download all users'}Download
      %h5{id: 'show_text'} Showing active users only.
  %br
  %br
.form-horizontal#user_list
  = render 'users_list', users: @users
  
:css
  .table td{ vertical-align: middle; }
