.form-heading
  %h2 Employees
  - if can? :edit, User
    .align.align-right
      %h5.btn{id: 'show'} Show All
      %h5.btn{id:'download_btn'}Download
      %h5{id: 'show_text'} Showing active users only.
  %br
  %br
.form-horizontal#user_list
  = render 'users_list', users: @users
  
:css
  .table td{ vertical-align: middle; }
