= modal_dialog :id => "office_entry_modal", :header => { :show_close => true, :dismiss => 'modal', :title => 'Office Entry Form'}

:javascript
  $(".modal-body").html('#{escape_javascript render("form")}');
