
%fieldset
  %h3
    %center Rules to follow for Office Entry Pass
  .row.span12
    1. Tea and Coffee will be provided ONLY in disposal cups and via vending machine. Umesh may not be available for taking special orders.
  .row.span12
    2. Water bottles will NOT be provided. Please get your own empty bottle (with name on it) and you can fill it from the water container.
  .row.span12
    3. Lunch will NOT be provided - please carry your own lunch or order online (orders will have to be collected from the front gate).
  .row.span12
    4. Please use the sanitizer step stand provided all over the office as often as possible.
  .row.span12
    5. Mandatory temperature check will be conducted at the office.
  .row.span12
    6. Ensure the Aarogya Setu app is installed.
  .row.span12
    7. Bio-Metrics will be disabled, so entry will be ONLY to Josh employees (unless there is written permission from HR, for example, interview candidates).
  .row.span12
    8. If in case someone feels unwell, then there is a special room
    %b "NIX"
    which is for
    %b “isolation only”.
    %b Please do NOT use it.
  .row.span12
    9. The office will open only if there are minimum 10 employees coming to the office. And passes will be given to maximum 30 employees on any working day.
  .row.span12
    10. The office will remain closed on all weekends (Sat & Sun) and any public holiday.
  .row.span12
    11. Need to raise the Office Entry Pass request at least 12 hours in advance in normal circumstances. In unusual situations, please raise the request and call Seema to check the seat availability in the office.
  .row.span12
    12. The Office start time will be 10 am. In case anyone wants to come before that, call Seema to check the feasibility of opening the office early.
.row
  %br
