- if params[:all].present?
  $('#toggle-projects-btn').text("Active Projects");
  $('#toggle-projects-btn').attr('href', '/projects');
- else
  $('#toggle-projects-btn').text("All Projects");
  $('#toggle-projects-btn').attr('href', '/projects?all=true');
$('#projects_list').html("#{escape_javascript( render 'list')}");