%ul.nav.nav-tabs
  %li.active
    %a{data:{toggle: 'tab'}, href: '#timesheet_export'} Project Report
  %li
    = link_to 'Resource Categorisation Report', '#resource_export', data:{toggle: ('tab')}, class: :resource_export
  

.export_tab_content.tab-content
  #timesheet_export.tab-pane.fade{ class: 'in active' }
    = render 'export_project_report_form'
  #resource_export.tab-pane.fade
    = render 'export_resource_report_form'