%table.table.table-hover.table-striped#leave-table
  %thead
    %tr
      %th
        Name
      %th
        Role
      %th
        Available leaves
  %tbody
    - @users.each do|user|
      %tr
        %td
          = user.name
        %td
          = user.role
        %td
          = link_to user.employee_detail.try(:available_leaves),'#', {class: 'available_leaves', id: "leave_#{user.try(:id)}", data:{pk: user.id, url: update_available_leave_path(id: user.id)}} if user.status.eql?(STATUS[2])

:javascript
  $.fn.editable.defaults.ajaxOptions = {type: "PUT"}; 
  $('.available_leaves').editable({
    url: $(this).data('url'),
    validate: function(value){
      if(value == '')
      {
        return 'Can not be blank'
      }
      if(isNaN(value)){
        return 'Enter only Number'
      }
    }
  });
