// Place all the styles related to the OfficePass controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.office-pass-datepicker {
  height: 50px;
  width: 150px;
}

.modal {
  text-align: center;
}

.icon-th-list {
  font-size: 40px;
  color: #005580 !important;
}

.icon-plus {
  font-size: 40px;
  color: #005580;
}

tr td {
  border: 1px solid #dddddd;
}
