// Place all the styles related to the holiday_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-width{
  width: 60%;
}
.holiday_list{
  font-size: 17px;
  font-weight: bold;
}
.submit_holiday{
  margin-left: 19%;
}
.holiday_link{
  margin-left: 2px;
}
