// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leave-icon{
  max-width: 30px;
  max-height: 30px;
}
.make-switch {
  height: 29px;
  margin-left: 18px;
  margin-bottom: 10px;
}

.project-image{
  margin-left: 211px;
}
#project-image{
  margin: 247px 0 202px 211px;
}
#image-upload {
  margin: 290px 0 0 -200px;
}
.case_study_upload {
  margin-left: 24px;
  margin-bottom: 10px;
}
.upload {
  margin-top: -900px;
}

#toggle-projects-btn {
  margin-bottom: 15px !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#spinnerDiv {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

#spinner-wrapper {
  position: absolute;
  width: inherit;
  height: 100vh;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10000000;
}
