// Place all the styles related to the TimeSheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#employee-timesheet{
  text-align: center;
  font-size: 1.1em;
}

.timesheet_report_form{
  padding-top: 20px;
}

.text-height{
  font-size: 1.1em
}

.export-report-text-from-date{
  margin-left: 40px;
}

.export-report-text-to-date{
  margin-left: 57px;
}

.export-report-text-to-select{
  margin-left: 66px;
}

.row-padding{
  padding: 15px;
}

.btn-padding{
  margin-left: 92px;
  margin-top: 10px;
}

.form-position{
  margin-left: 60px;
}

.timesheet-menu{
  right: 191px !important;
}
.menu-font{
  font-size: 15px;
}

.display-center{
  margin-left: 228px;
}

.timesheet{
  background-color: #fff;
  padding: 2.5em;
  border-radius: 0.7em;
}

.timesheet-input{
  width: 9.5em;
  height: 1.9em !important;
}

.edit-timesheet-update{
  margin-left: auto;
  display: block;
  margin-right: 39em;
  font-size: 1.1em
}

.add-timesheet-icon{
  font-size: 36px;
}

.upload-timesheet-icon{
  font-size: 36px;
  color: #005580;
  padding-left: 10px;
}

.verticle-line {
  border-left: 1px solid black;
  padding: 0px 10px 0px 10px;
}

#import_timesheet_table {
  width: 400px;
  margin-left: 20%;
  tr {
    border-style: hidden;
  }
}

.file-hint {
  font-size: 14px;
}

.add-new-timesheet{
  margin-left: 30em;
}

#sample_report {
  text-decoration: none;
  font-size: 0.9em;
}

.note {
  margin-top: 20px;
  font-style: italic;
}
